body {
    text-align: center;
    background-color: cyan;
    
}

img {
    width: 400px;
    margin-bottom: 50px;
    border-color: dodgerblue;
    border-width: 5px;
}

#h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 200px;
}
#h3 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 350px;
}

#h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family:  'Cinzel Decorative', cursive;
    word-spacing: 5px;
    }

.menu {
    background-color: aqua;
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    width: 100%;
    cursor: pointer;
    z-index: 10;
}

.links {
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 22.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    color: #fff;
}
.links:hover{
    background-color: lightpink;
}